@model IEnumerable<EmployeeApp.PortalWithAuth.Models.CertificateViewModel>
<html>
    <head>
        <style>
        .applynewcertbtn {
            border-radius: 5px;
            margin: 1rem;
            
            padding: 0.25rem;
            background-color: cadetblue;
            font-size: larger;
            color: black;
        }

        a {
            text-decoration: none;
            text-decoration-color: unset;
            color: black;
        }
        </style>
    </head>
    <body>
    <div class="d-flex align-items-center justify-content-between">
        <h3>My Certifications</h3>
        <button class="applynewcertbtn"><a asp-action="AddCertificate">Add new certification</a></button>
    </div>
    @{
        if (Model.Count() > 0)
        {
            <table class="table table-success table-striped">
                <thead>
                <td>CertifiedOn</td>
                <td>QualifiedFor</td>
                <td>Expiration</td>
                <td>Proof</td>
                <td>Status</td>
                </thead>
                <tbody>
                    @{
                        foreach (var certification in Model)
                        {

                            <tr>
                                <td>@certification.CertifiedOn.ToShortDateString()</td>
                                <td>@certification.QualifiedFor</td>
                                <td>@certification.Expiration.ToShortDateString()</td>
                                <td>
                                    <a href="@Url.Action("DownloadFile", "Associate", new { id = certification.FileId })">
                                        Download File
                                    </a>
                                </td>
                                <td>@certification.status</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <span>No records found!</span>
        }
    }
    </body>
</html>

