@model EmployeeApp.Portal.Models.EAGClientViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Welcome @Model.Name</h1>

<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfJoining)
        </dt>
        <dd class = "col-sm-10">

            @{
                var formattedDate = "";
                if (Model.DateOfJoining != null)
                {
                    formattedDate = Model.DateOfJoining.Value.Date.ToString();
                }
                else
                {
                    formattedDate = "Not assigned";
                }
            }
            <span>@formattedDate</span>
        </dd>
        <dt class = "col-sm-2">
            Group
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        <dt class="col-sm-2">
            Address
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressLine1)
            @Html.DisplayFor(model => model.AddressLine2)
            @Html.DisplayFor(model => model.State)
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@ViewBag.empEditId" asp-route-addressid="@ViewBag.addressEditId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
