@model EmployeeApp.Data.Models.Leave


<h1>Edit Leave Status</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditLeaveStatusfromUpcoming">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@Model.Id" asp-for="Id" />
            <input type="hidden" value="@Model.PurposeOfLeave" asp-for="PurposeOfLeave" />

            <label asp-for="From" style="font-weight:bold"></label>:
            <span>@Model.From.ToShortDateString()</span><br />
            <label asp-for="To" style="font-weight:bold"></label>:
            <span>@Model.To.ToShortDateString()</span><br />
            <label asp-for="PurposeOfLeave" style="font-weight:bold"></label>:
            <span>@Model.PurposeOfLeave</span>

            <div class="form-group">
                <label class="control-label" style="font-weight:bold">Status</label>
                <select asp-for="status.Name" asp-items="@ViewBag.StatusNames"></select>
                <span asp-validation-for="status.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

